@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root
{
    --bg-login: #e0e5ec;
    --bg-dark: #090f19;
    --main-color: #3f4e6d;
    --shadow-light: #ffffff;
    --shadow-dark: #a3b1c6;
}

body {font-family: "Outfit", sans-serif;}

a {text-decoration: none;}

address, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {margin: 0; padding: 0;}

li {list-style: none;}

body, .wrapper {position: relative;}
.abg-dark {background-color: var(--bg-dark);}
.abg-light {background-color: var(--bg-login);}
.light-dark {background-color: var(--shadow-dark);}
.text-light-low {color: var(--shadow-dark);}
.btn-block
{
    display: block;
    width: 100%;
}

/* Top Navbar */
.top-nav
{
    margin-left: 260px;
    transition: all .3s ease-in-out;
}
.navbar-expand .navbar-collapse {min-width: 200px;}

.dropdown-menu .dropdown-item:hover {background-color: #090f19;}

#sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    min-width: 260px;
    /* width: 90px;
    min-width: 90px; */
    /* background-color: #090f19; */
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    z-index: 999;
}

#sidebar.expand
{
    /* width: 260px;
    min-width: 260px; */
    width: 90px;
    min-width: 90px;
    transition: all .3s ease-in-out;
}

/* #sidebar:not(.expand) .brand-logo,
#sidebar:not(.expand) a.sidebar-link span
{
    display: none;
} */

#sidebar.expand .brand-logo,
#sidebar.expand .sidebar-link > span
{
    display: none;
}

#sidebar.expand .sidebar-dropdown .sidebar-link > span 
{
    display: inline-block;
}

.toggle-btn
{
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 0.425rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323c55;
}

#sidebar.expand .brand-logo {animation: fadeIn .25s ease;}

@keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.brand-logo a
{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-nav
{
    padding: .7rem 0;
    flex: 11 auto;
    z-index: 10;
}

.sidebar-link
{
    padding: .625rem 1.5rem;
    color: #fff;
    display: block;
    white-space: nowrap;
    font-weight: 700;
    border-left: 3px solid transparent;
    /* text-align: center; */
    position: relative;
}
.sidebar-link i,
.dropdown-item i
{
    font-size: 1.1rem;
    margin-right: .75rem;
}
.sidebar-link:hover, .sidebar-link.active, .sidebar-link.active:hover
{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

/* Parent dropdown active হলে ওপেন দেখাতে */
.sidebar-item .collapse.show {
    display: block;
}

.sidebar-item {position: relative;}

/* #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 90px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown .sidebar-dropdown {
    left: 160px;
}

#sidebar:not(.expand) .sidebar-item:hover > .has-dropdown+.sidebar-dropdown,
#sidebar:not(.expand) .dropdown-submenu:hover > .has-dropdown+.sidebar-dropdown
{
    display: block;
    max-height: 15rem;
    width: 100%;
    opacity: 1;
} */

#sidebar.expand .sidebar-item .sidebar-dropdown
{
    position: absolute;
    top: 0;
    left: 90px;
    background-color: #0e2238;
    padding: 0;
    min-width: 12rem;
    /* width: 100%; */
    display: none;
}

#sidebar.expand .sidebar-item .sidebar-dropdown .sidebar-dropdown {left: 180px;}

#sidebar.expand .sidebar-item:hover > .has-dropdown+.sidebar-dropdown,
#sidebar.expand .dropdown-submenu:hover > .has-dropdown+.sidebar-dropdown
{
    display: block;
    max-height: 15rem;
    width: 100%;
    opacity: 1;
}

#sidebar .sidebar-link[data-bs-toggle="collapse"]::after
{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-225deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {display: none;}

#sidebar .sidebar-link[data-bs-toggle="collapse"][aria-expanded="true"]::after
{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-dropdown .sidebar-link
{
    /* position: relative; */
    padding-left: 2rem;
    transition: all .5s;
}

.sidebar-dropdown .sidebar-link i {font-size: 12px;}

/* .sidebar-dropdown a.sidebar-link::before {
    position: absolute;
    content: "";
    height: .125rem;
    width: .375rem;
    background-color: #ffffff80;
    left: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
} */

.sidebar-dropdown .sidebar-link:hover, .sidebar-dropdown .sidebar-link.active,
.sidebar-dropdown .sidebar-link.active:hover
{
    background: transparent;
    border-left: 3px solid transparent;
    padding-left: 2.5rem;
    color: #7277f2;
}

/* Main Content */
.main
{
    margin-left: 260px;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.expanded {margin-left: 90px;}
/* .content {flex: 11 auto;} */

.breadcrumb {margin: 0;}

.breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item.active {color: var(--shadow-dark);}

/* Card */
.content .dash-card
{
    /* cursor: pointer; */
    transition: 0.4s;
}

.content .dash-card:hover
{
    /* background-color: #090f19!important; */
    /* color: #090f19!important; */
    transform: translateY(-5px);
}

@media (min-width:768px)
{
    .input-group-navbar .form-control:focus
    {
        outline: none;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .075);
        border: none;
        background-color: #f5f5f5;
    }

    .input-group-navbar {max-width: 320px;}

    .input-group-navbar .form-control, .input-group-navbar .btn, .input-group-navbar .btn:active
    {
        color: #3e4455;
        background-color: #f5f5f5;
    }
}

.table-dark
{
    --bs-table-color: #fff;
    --bs-table-bg: #090f19;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

/* Forms */
.content .form-label, .content .form-text {color: var(--shadow-light);}


/* Summernote Editor container */
.note-editor
{
    z-index: 10 !important; /* খুব বেশি হওয়া উচিত না */
    position: relative;
}

.note-editor.is-invalid
{
    border: 1px solid #dc3545 !important; /* Bootstrap invalid red border */
    border-radius: 5px;
}

/* Editable part */
.note-editable
{
    position: relative !important;
    overflow: visible !important;
}

/* Summernote internal modals (Insert Image / Link etc.) */
.note-modal {z-index: 1056 !important; /* Bootstrap modal = 1055 থেকে বেশি */}

/* Backdrop এর z-index ঠিক রাখুন */
.modal-backdrop {z-index: 1055 !important;}

/* User Profile */
.user-profile-card-left, .user-profile-card-right {border-top: 3px solid #00ff9d;}

.user-profile-img
{
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.unboardered-list-group>.list-group-item
{
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item
{
    background-color: transparent;
    color: var(--shadow-light);
}

.user-profile-card-right .card-header
{
    border-bottom: var(--bs-card-border-width) solid var(--shadow-dark);
}

.form-control-plaintext {color: var(--shadow-light);}

/* Invoice */
.callout
{
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout.callout-info {border-left-color: #117a8b;}

.invoice
{
    background-color: #ffffff;
    /* border: 1px solid rgba(0, 0, 0, .125); */
    color: #212529;
    position: relative;
}

.invoice-info {
    background-color: #f1f5f9;
}

.invoice-info footer span {color: #cbd5e1;}

.print-text {
    color: #5c6ac4 !important;
}

@page {margin: 0;}

@media print {
      body {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
      }
      .no-print { display: none !important; } /* hide elements with this class when printing */
      .invoice {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: 0.8cm; /* adjust to taste */
      }
      /* Force A4 portrait: most browsers respect @page size in print preview */
      @page {
        size: A4 portrait;
        /* margin: 10mm; printer margin */
      }
      /* Avoid page break inside the invoice box */
      .invoice { page-break-inside: avoid; }
      /* Style adjustments for better printed contrast */
      /* .invoice-header, .invoice-footer { font-size: 12pt; } */
    }

/* Footer */
.footer
{
    margin-left: 260px;
    transition: all .3s ease-in-out;
}

/* Login Page */
.login-info-left
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.neumorphic-card
{
    background-color: var(--bg-login);
    border-radius: 20px;
    box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
    padding: 3rem;
    /* max-width: 450px;
    width: 100%; */
    transition: all .8s ease-in-out;
}

.forget-box
{
    max-width: 450px;
    width: 100%;
}

.neumorphic-card:hover
{
    box-shadow: 8px 8px 16px var(--shadow-light), -8px -8px 16px var(--shadow-dark);
}

.neumorphic-input
{
    background-color: var(--bg-login);
    padding: 10px 8px;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px var(--shadow-dark), inset -5px -5px 10px var(--shadow-light);
    transition: all .3s ease;
}

.neumorphic-input:focus
{
    background-color: var(--bg-login);
    box-shadow: inset 2px 2px 5px var(--shadow-dark), inset -2px -2px 5px var(--shadow-light), 0 0 0 3px var(--main-color);
    border: none;
    outline: none;
}

.neumorphic-input-check:focus {box-shadow: none; /* custom shadow */}

.neumorphic-input-check:checked:focus
{
    border: none;
    outline: none;
    box-shadow: none; /* custom shadow */
}   

.neumorphic-btn
{
    background-color: var(--bg-login);
    /* column-rule: var(--main-color); */
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
    padding: 1rem;
    border: none;
    transition: all .5s ease-in-out;
}

.neumorphic-btn:hover
{
    background-color: var(--main-color);
    color: var(--shadow-light);
    transform: scale(.98);
}

.form-label {color: var(--main-color);}

.divider-content
{
    transform: translate(-50%, -50%);
    white-space: nowarp;
}

.forget-pass a:hover, .sign-up-link a:hover
{
    color: var(--bg-dark) !important;
    transition: all .3s ease-in-out;
}